@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    transform: 0.6s all 0s ease;
}
nav{
    background-color: #b4d0e7;
    transition: 0.5s all 0s ease;
}

.navItem{
    cursor: pointer;
   display: flex;
   font-family: 'Lato';
   font-weight:bolder;
   font-stretch:20px;
   font-size: x-large;
   margin: 20px;
   align-items: center;
}
.navItem1{
    cursor: pointer;
    display: flex;
    font-family: 'Lato';
    font-weight:bolder;
    font-stretch:20px;
    font-size: x-large;
    background-color: white;
    margin: 20px;
    align-items: center;
 }
.navItem span{
    margin-left: 3px;
}
.navItem img{
    margin-right: 6px;
    width: 35px;
    height: 35px;
}
#TryNew{
    display: none;
    font-weight: lighter;
    font-size: 15px;
    border-radius: 3px;
    padding: 16px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#TryNew:active{
    opacity: 0.4;
}
#TryNew:hover{
    opacity: 0.8;
}
#togNew{
    font-weight: lighter;
    margin: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    padding: 37%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#0061ff;
}
#togNew:active{
    opacity: 0.4;
}
.hum1,.hum2,.hum3{
    background-color: black;
    width: 21px;
    margin: 2.5px;
    height: 2px;
}
.navContents{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0px;
    justify-content: space-between;
}
.togContents{
    align-items: left;
    position: fixed;
    width: 100%;
    top:79px;
    opacity: 0;
    margin: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}
.togItem{
    cursor: pointer;
    margin: 10px;
    margin-left: 0px;
    z-index: 1;
    margin-right: 0px;
    padding: 20px;
    font-size:x-large;
    font-family: "Lato";
}
.togItem::before{
    content: '';
    width: 100%;
    z-index: -1;
    background-color:#c4dff5;
    position: absolute;
    height: 70px;
    margin-top: -18px;
    transform: scaleX(0);
    transform-origin:left;
    transition: all 0.6s ease-in-out;
    left:0;
}
.togItem:hover::before{
    transform: scaleX(1);
}
.fadeopen{
    animation-name: fade;
    animation-duration: 0.4s;
    transform-origin: top;
    transition: 0.8s all 0s ease-in;
    opacity: 1;
}
.stopOverflow{
    overflow: hidden;
}
.mainBlock{
    display: flex;
    flex-direction: column;
    margin: 0px;
    z-index: -1;
    padding: 30PX;
    height: 100%;
    margin-top: 70px;
    background-color: #b4d0e7;
}
.mainBlock .blockHead{
    margin: 10px;
    z-index: 0;
    margin-bottom: 25px;
    font-family: oswald;
    font-weight:bolder;
    font-size: 6.4vmax;
}
.block1{
    z-index: 0;
    margin: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
.block3 img{
    margin-top: 12%;
    margin-left: 2%;
    z-index: -4;
    width:80%;
    transform: scale(1.5);
}
.block2 .con1{
    z-index: 0;
    font-size: 110%;
    margin: 0px;
    padding-right: 40%;
    font-family: lato;
}
.block2 .con2{
    cursor: pointer;
    font-family: 'Lato';
    font-weight:lighter;
    font-size: large;
    background-color: #0061ff;
    margin-top: 30px;
    width: 9em;
    text-align: center;
    padding: 10px;
    color: white;
}
.block2 .con2:hover{
    opacity: 0.8;
}
.block2 .con2:active{
    opacity: 0.2;
}
.block2 .con2::after{
    display: flex;
    margin: 20px;
    color: black;
    font-size:medium;
    padding: 0px;
    margin-left: -10px;
    content: 'No credit card needed';
    position: absolute;
}
.block2 .con3 img{
   width: 60px;
   transform: rotateZ(90deg);
}
.block2 .con3{
    margin: 100px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.block2 .con4{
    font-family: lato;
    margin: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.infoBlock{
    padding: 40px;
    margin: 5%;
    margin-top: 8%;
    z-index: 0;
}
.infoGrid{
    display: grid;
    font-family: lato;
    margin-top: 50px;
    grid-row-gap: 3%;
    grid-column-gap: 7%;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: 1fr 1fr;
}
.infoGrid img{
    width: 100%;
}
.infoBlock .infoHead{
    font-family: lato;
    font-size: 3.9vmax;
    font-weight:700;
}
.infoGrid h1{
    font-size: 5vh;
    margin-bottom: 25px;
}
.infoGrid div{
    font-size:large;
}
.honorBlock{
   padding: 8%;
   font-family: lato;
}
.honorBlock .hB1{
   font-weight: bold;
   margin-bottom: 30px;
   font-size: 3.9vmax;
}
.honorBlock a{
    font-size: large;
}
@keyframes fade{
   0%{
       opacity: 0;
   }
   30%{
       opacity: 0.2;
   }
   70%{
       opacity: 0.6;
   }
   100%{
       opacity: 1;
   }
}
@media (min-width:800px){
    #togNew{
        display: none;
    }
    #TryNew{
        display: block;
    }
}
@media (max-width:800px){
    #togNew{
        margin-top: 30px;
        padding: 20%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .mainBlock{
       height: auto;
    }
    .mainBlock .blockHead{
        font-size: 45px;
    }
    .block3{
        display: none;
    }
    .block2{
        margin-bottom: 100px;
    }
    .block2 .con1{
        font-size: 18px;
        padding-right: 0;
    }
    .block2 .con3{
        display: none;
    }
    .togContents{
       text-align: center;
    }
    .togItem{
        padding: 10px;
    }
    .infoGrid{
        grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
    }
}
.hidden{
    display: none;
}
.colChange1{
    background: #0061ff;
    color: white;
}
.colChange2{
    background-color: white;
    box-shadow: 2px 2px 3px 1px #b4d0e7;
    color: black;
}