@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@font-face {font-family: "Sharp Grotesk DB Cyr Book 20"; src: url("//db.onlinewebfonts.com/t/8be7a3df6ed0f00122b5713e0b670a04.eot"); src: url("//db.onlinewebfonts.com/t/8be7a3df6ed0f00122b5713e0b670a04.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8be7a3df6ed0f00122b5713e0b670a04.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8be7a3df6ed0f00122b5713e0b670a04.woff") format("woff"), url("//db.onlinewebfonts.com/t/8be7a3df6ed0f00122b5713e0b670a04.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8be7a3df6ed0f00122b5713e0b670a04.svg#Sharp Grotesk DB Cyr Book 20") format("svg"); }
@font-face {font-family: "Atlas Grotesk Web Light"; src: url("//db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.eot"); src: url("//db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.woff") format("woff"), url("//db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/43372a4ce8dc3abbca31595815be7cf3.svg#Atlas Grotesk Web Light") format("svg"); }

*{
    margin: 0px;
    padding: 0px;
    transform: 0.6s all 0s ease;
}
nav{
    background-color: #b4d0e7;
    transition: 0.5s all 0s ease;
}
.container{
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 70px; 
    background-color: #b4d0e7;
}
.navItem{
    cursor: pointer;
   display: flex;
   font-family: 'Lato';
   font-weight:bolder;
   font-stretch:20px;
   font-size: 1.5rem;
   margin: 20px;
   align-items: center;
}
.navItem1{
    cursor: pointer;
    display: flex;
    font-family: 'Lato';
    font-weight:bolder;
    font-stretch:20px;
    font-size: x-large;
    background-color: white;
    margin: 20px;
    align-items: center;
 }
.navItem span{
    margin-left: 3px;
}
.navItem img{
    margin-right: 6px;
    width: 35px;
    height: 35px;
}
#TryNew{
    display: none;
    font-weight: lighter;
    font-size: 15px;
    border-radius: 3px;
    padding: 16px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#TryNew:active{
    opacity: 0.4;
}
#TryNew:hover{
    opacity: 0.8;
}
#togNew{
    font-weight: lighter;
    margin: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    padding: 37%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#0061ff;
}
#togNew:active{
    opacity: 0.4;
}
.hum1,.hum2,.hum3{
    background-color: black;
    width: 21px;
    margin: 2.5px;
    height: 2px;
}
.navContents{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0px;
    justify-content: space-between;
}
.togContents{
    align-items: left;
    position: fixed;
    width: 100%;
    top:79px;
    opacity: 0;
    margin: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}
.togItem{
    cursor: pointer;
    margin: 2vh;
    margin-left: 0px;
    z-index: 1;
    margin-right: 0px;
    padding: 2vh;
    font-size:x-large;
    font-family: "Lato";
}
.togItem::before{
    content: '';
    width: 100%;
    z-index: -1;
    background-color:#c4dff5;
    position: absolute;
    height: 70px;
    margin-top: -18px;
    transform: scaleX(0);
    transform-origin:left;
    transition: all 0.6s ease-in-out;
    left:0;
}
.togItem:hover::before{
    transform: scaleX(1);
}
.fadeopen{
    animation-name: fade;
    animation-duration: 0.4s;
    transform-origin: top;
    transition: 0.8s all 0s ease-in;
    opacity: 1;
}
.mainBlock{
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 0;
    padding: 30PX;
    height: 100%;
}
.mainBlock .blockHead{
    margin-top: 50px;
    margin-left: 10px;
    z-index: 0;
    margin-bottom: 55px;
    font-family: "Sharp Grotesk DB Cyr Book 20";
    display: inline-block;
    -webkit-transform: scale(0.2, 1);
    -moz-transform: scale(0.3, 1);
    -o-transform: scale(0.3, 1);
    transform: scale(1, 1.8);
    font-size: 3rem;
    font-weight:bolder;
}
.block1{
    z-index: 0;
    margin: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
.block3 img{
    margin-top: 12%;
    margin-left: 2%;
    z-index: -4;
    width:80%;
    transform: scale(1.5);
}
.block2 .con1{
    z-index: 0;
    font-size: medium;
    word-wrap: break-word;
    margin: 0px;
    margin-right: 40%;
    padding-right: 2%;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
}
.block2 .con2{
    cursor: pointer;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-weight:lighter;
    font-size: medium;
    background-color: #0061ff;
    margin-top: 30px;
    width: 9em;
    text-align: center;
    padding: 10px;
    color: white;
}
.block2 .con2:hover{
    opacity: 0.8;
}
.block2 .con2:active{
    opacity: 0.2;
}
.block2 .con2::after{
    display: flex;
    margin: 20px;
    color: black;
    font-size:small;
    padding: 0px;
    margin-left: -10px;
    content: 'No credit card needed';
    position: absolute;
}
.block2 .con3 img{
   width: 60px;
   transform: rotateZ(90deg);
}
.block2 .con3{
    margin: 60px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.block2 .con4{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    margin: 50px;
    font-size: small;
    margin-bottom: 0px;
    margin-left: 0px;
}
.infoBlock{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 15%;
}
.infoGrid{
    display: grid;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    margin-top: 50px;
    grid-row-gap: 3%;
    grid-column-gap: 7%;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: 1fr 1fr;
}
.infoGrid img{
    width: 100%;
}
.infoBlock .infoHead{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 3rem;
    width: 100%;
    font-weight:700;
}
.infoGrid h1{
    font-size: 2rem;
    margin-bottom: 25px;
}
.infoGrid h3{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-weight: 900;
    font-size:1.8rem;
}
.infoGrid div{
    font-size: 1rem;
    margin-top: 10%;
}
.honorBlock{
   margin-top: 200px;
}
.honorBlock .hB1{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    padding-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
   font-weight: bold;
   margin-bottom: 0px;
   font-size: 3rem;
}
.honorBlock a{
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: large;
    color:blue;
}
.boxBlock{
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(2,16vw);
}
.box{
    background-color:rgb(240, 240, 240);
    display: flex;
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.box img{
    width: 70%;
    display: block;
    margin: auto;
    filter: invert(1);
}

.box3 img{
    width: 50%;
}
.box1{
   grid-column: 1/5;
   grid-row: 1/2;
}
.box2{
    grid-column: 1/5;
    grid-row: 2/3;
 }
.box3{
    grid-column: 5/9;
    grid-row: 1/2;
 }
 .box4{
    grid-column: 5/9;
    grid-row: 2/3;
 }
 .box5{
    grid-column: 17/21;
    grid-row: 1/2;
}
 .box6{
    grid-column: 17/21;
    grid-row: 2/3;
}
 .box7{
    grid-column: 21/25;
    grid-row: 1/2;
}
 .box8{
     grid-column: 21/25;
     grid-row: 2/3;
 }
.main{
    display: flex;
    padding: 50px;
    background-color: rgba(240, 240, 240, 0.589);
    justify-content: left;
    border: 1px rgb(201, 201, 201) solid;
    align-items:flex-start;
    flex-direction: column;
    font-size: 1rem;
    grid-column: 9/17;
     grid-row: 1/3;
}
.main hr{
    width: 3rem;
    background-color: rgb(180, 180, 180);
    margin-bottom: 40px;
}
.main .boxCon1{
    margin-bottom: 30px;
}
.main .boxCon3{
   font-family:  'Atlas Grotesk Web Light';
   font-weight: medium;
   line-height: 25px;
}
.main .boxCon4{
    font-family: lato;
    margin-top: 30px;
    font-weight: lighter;
    font-size: 1rem;
}
.priceBlock{
    margin-left:8%;
    margin-right: 8%;
    margin-top:200px;
    z-index: 0; 
}
.priceBlock .priceHead{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 2.5rem;
    word-spacing: 5px;
    font-weight:700;
}
.priceBlock label{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 1.1rem;
}

.contain {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.contain input{  
    cursor: pointer;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.CusRadio { 
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.CusRadio:after {
    content: "";
    position: absolute;
    display: none;
  }
.contain input:checked ~ .CusRadio {
    background-color: #2196F3;
  }
.contain input:checked ~ .CusRadio:after {
    display: block;
  }
.contain .CusRadio:after {
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
  }
.priceBoxes{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.pbox1{
    order: 2;
   display: grid;
   border: 1px solid rgb(221, 221, 221);
   border-top: 0px;
   width: 30%;
   grid-gap: 10px;
}
.pbox2{
    order: 1;
    margin-top: 30px;
    display: grid;
    border: 1px solid rgb(221, 221, 221);
    border-top: 0px;
    width: 30%;
    grid-gap: 10px;
 }
.pbox3{
    order: 3;
    margin-top: 30px;
    display: grid;
    border: 1px solid rgb(221, 221, 221);
    border-top: 0px;
    width: 30%;
    grid-gap: 10px;
 }
.cont1{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: bold;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: larger;
}
.cont2{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: large;
    font-weight: bolder;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 20px;
}

.cont3{
    font-size: 40px;
    margin-top: 5px;
    font-weight: 100;
    font-family: "Sharp Grotesk DB Cyr Book 20";
    margin-left: 28px;
    margin-right: 28px;
}
.cont4{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: large;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 30px;
    color: #637381;
}

.priceBlock hr{
    width: 15%;
    height: 0px;
    margin-bottom: 25px;
    margin-left: 28px;
    background-color: rgb(0, 0, 0);
    margin-right: 28px;
}
.cont5{
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 1rem;
    display: flex;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 15px;
}
.cont5 img{
    padding-right:10px;
    padding-top: 2px;
    width: 18px;
    height: 18px;
}
.cont6{
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px;
    display: flex;
    margin-bottom: 20px;
    font-family: 'Sharp Grotesk DB Cyr Book 20';
    font-size: 1rem;
}
.cont6 img{
    padding-right: 10px;
    top:10px;
    width: 18px;
    height: 18px;
}
.cont7{
    margin-top: 20px;
    margin-left: 28px;
    margin-right: 28px;
}
.pbox1 .cont7 button{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px;
    font-family: lato;
    font-size: large;
    border: none;
    color: white;
    background-color:#0061ff;
}
.pbox1 .cont7 button:hover{
    opacity: 0.8;
    transition: 0.3s all 0s ease;
}
.cont7 button{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px;
    font-family: lato;
    cursor: pointer;
    font-size: large;
    border: none;
    color:#0061ff;
    background-color: white;
    border: solid 1px #0061ff;
}
.cont7 button:hover{
    box-shadow: 0px 0px 1px 2px #0061ff inset;
    transition: 0.3s all 0s ease;
}
.cont8{
    margin-left: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.cont8 a{
    color: #0061ff;
}

@keyframes fade{
   0%{
       opacity: 0;
   }
   30%{
       opacity: 0.2;
   }
   70%{
       opacity: 0.6;
   }
   100%{
       opacity: 1;
   }
}

.border{
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.582) inset;
}

@media (min-width:800px){
    #togNew{
        display: none;
    }
    #TryNew{
        display: block;
    }
}
@media (max-width:1020px) {
    .boxBlock{
        grid-template-columns: repeat(24,1fr);
        grid-template-rows: repeat(3,25vw);
    }
    .box1{
       grid-column: 1/7;
       grid-row: 1/2;
    }
    .box2{
        grid-column: 1/7;
        grid-row: 2/3;
     }
    .box3{
        grid-column: 1/7;
        grid-row: 3/4;
     }
     .box4{
        grid-column: 7/13;
        grid-row: 3/4;
     }
     .box5{
        grid-column: 13/19;
        grid-row: 3/4;
    }
     .box6{
        grid-column: 19/25;
        grid-row: 1/2;
    }
     .box7{
        grid-column: 19/25;
        grid-row: 2/3;
    }
     .box8{
         grid-column: 19/25;
         grid-row: 3/4;
     }
    .main{
        grid-column: 7/19;
         grid-row: 1/3;
    }
}
@media (max-width:900px){
    .infoBlock{
        margin-left: 3%;
        margin-right: 3%;
    }
    .honorBlock .hB1{
        margin-left: 3%;
        margin-right: 3%;
    }
    .honorBlock a{
        margin-left: 3%;
        margin-right: 3%;
    }
    .priceBlock{
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media (max-width:800px){
    #togNew{
        margin-top: 30px;
        padding: 20%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .priceBoxes{
        flex-direction: column;
        justify-content: flex-start;
    }
    .priceBoxes .pbox1{
        width: 100%;
        order: 1;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .priceBoxes .pbox3{
        width: 100%;
        order: 2;
        margin-bottom: 40px;
    }
    .priceBoxes .pbox2{
        width: 100%;
        margin-bottom: 40px;
    }
    .mainBlock{
        order: 3;
       height: auto;
       margin-top: 0px;
       margin-bottom: 0px;
    }
    .mainBlock .blockHead{
        font-size:30px;
        margin-left: 10px;
        margin-bottom: 12%;
    }
    .infoGrid h1{
        font-size: 3rem;
    }
    .infoGrid div{
        margin-top: 5%;
    }
    .priceBlock .priceHead{
        font-size: 2rem;
    }
    .honorBlock .hB1{
        font-size: 1.7rem;
    }
    .block3{
        display: none;
    }
    .block2{
        margin-bottom: 100px;
    }
    .block2 .con1{
        font-size: 18px;
        width: 100%;
        padding-right: 0;
    }
    .block2 .con3{
        display: none;
    }
    .togContents{
       text-align: center;
    }
    .togItem{
        padding: 10px;
    }
    .infoGrid{
        grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
        grid-row-gap: 80px;
        grid-column-gap: 80px;
    }
    .infoBlock .infoHead{
        font-size: 1.8rem;
    }
    .main{
        display: none;
    }
    .boxBlock{
        margin-top: 10%;
        grid-template-columns: repeat(24,1fr);
        grid-template-rows: repeat(2,25vw);
    }
    .box1{
       grid-column: 1/7;
       grid-row: 1/2;
    }
    .box2{
        grid-column: 1/7;
        grid-row: 2/3;
     }
     .box3{
        grid-column: 7/13;
        grid-row: 1/2;
     }
     .box4{
        grid-column: 7/13;
        grid-row: 2/3;
     }
     .box5{
        grid-column: 13/19;
        grid-row: 1/2;
     }
     .box6{
        grid-column: 13/19;
        grid-row: 2/3;
     }
     .box7{
        grid-column: 19/25;
        grid-row: 1/2;
     }
     .box8{
        grid-column: 19/25;
        grid-row: 2/3;
     }
     .border{
        box-shadow:none;
    }
    .box{
        cursor:default;
    }
}

@media (max-width:600px) {
    .boxBlock{
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(4,50vw);
    }
    .priceBlock .priceHead{
        font-size: 2rem;
    }
    .box1{
       grid-column: 1/7;
       grid-row: 1/2;
    }
    .box2{
        grid-column: 1/7;
        grid-row: 2/3;
     }
     .box3{
        grid-column: 1/7;
        grid-row: 3/4;
     }
     .box4{
        grid-column: 1/7;
        grid-row: 4/5;
     }
     .box5{
        grid-column: 7/13;
        grid-row: 1/2;
     }
     .box6{
        grid-column: 7/13;
        grid-row: 2/3;
     }
     .box7{
        grid-column: 7/13;
        grid-row: 3/4;
     }
     .box8{
        grid-column: 7/13;
        grid-row: 4/5;
     }
}

/* DYNAMIC CSS TERMS */
.hidden{
    display: none;
}
.colChange1{
    background: #0061ff;
    color: white;
}
.colChange2{
    background-color: white;
    border-bottom: rgb(179, 179, 179) 1px solid;
    color: black;
}

